<div class="container">
  <div class="row top-row">
    <div class="col-md-1">
      <p class="breadcrumb">home</p>
    </div>
    <div class="col-md-auto">
      <h1 class="breadcrumb title">AJcompare Home</h1>
    </div>
  </div>
  <div class="row" style="margin-left: 20px; margin-right: 50px">
    <div class="col-md-2">
      <h2>Product</h2>
    </div>
    <div class="col-md-2">
      <h2>Supermarket</h2>
    </div>
    <div class="col-md-2">
      <h2>Price</h2>
    </div>
    <div class="col-md-2">
      <h2>Content</h2>
    </div>
    <div class="col-md-2">
      <h2>Cheapest at</h2>
    </div>
    <div class="col-md-2">
      <h2>Add to shopping list</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md">
      <div>
        <form (ngSubmit)="getProductById(productId)">
          <!--  <mat-form-field appearance="fill">-->
          <mat-label>Enter your userId</mat-label>
          <input matInput placeholder="1" name="productId" [(ngModel)]="productId" required>
          <!--    <mat-error *ngIf="number.invalid">{{getErrorMessage()}}</mat-error>-->
          <button type="submit">Set userId</button>
          <!--  </mat-form-field>-->
        </form>

        <div *ngIf="product">
          singular product:
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  id: {{product.id}}
                </mat-panel-title>
                <mat-panel-description>
                  name: {{product.name}}
                </mat-panel-description>
                <mat-panel-description>
                  url: {{product.url}}
                </mat-panel-description>
                <mat-panel-description>
                  date {{product.date}}
                </mat-panel-description>
                <mat-panel-description>
                  price: {{product.price}}
                </mat-panel-description>
                <mat-panel-description>
                  price: {{product.price}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-list>
                <mat-list-item><p>This is the primary content of the panel.</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p>This is the primary content of the panel.</p></mat-list-item>
              </mat-list>
            </mat-expansion-panel>
          </mat-accordion>
        </div>


        <div *ngIf="products">
          Products:
          <mat-accordion multi>
            <mat-expansion-panel *ngFor="let product of products" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title style="width: auto;">
                  id: {{product.id}}
                </mat-panel-title>
                <mat-panel-description>
                  name: {{product.name}}
                </mat-panel-description>
                <mat-panel-description>
                  url: {{product.url}}
                </mat-panel-description>
                <mat-panel-description>
                  date {{product.date}}
                </mat-panel-description>
                <mat-panel-description>
                  price: {{product.price}}
                </mat-panel-description>
                <mat-panel-description>
                  <form (ngSubmit)="getProductById(productId)">
                    <!--  <mat-form-field appearance="fill">-->
                    <mat-label>Enter your userId</mat-label>
                    <input matInput placeholder="1" name="productId{{product.id}}" [(ngModel)]="productId" required>
                    <!--    <mat-error *ngIf="number.invalid">{{getErrorMessage()}}</mat-error>-->
                    <button type="submit">Set userId</button>
                    <!--  </mat-form-field>-->
                  </form>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-list>
                <mat-list-item><p>This is the primary content of the panel.</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p>This is the primary content of the panel.</p></mat-list-item>
              </mat-list>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </div>
</div>

