<div class="container">
  <div class="row top-row">
    <div class="col-md-1">
      <p class="breadcrumb">home</p>
    </div>
    <div class="col-md-auto">
      <h1 class="breadcrumb title">AJcompare Home</h1>
    </div>
  </div>
  <div class="row" >
    <div class="col-md-2">
      <h2>Product</h2>
    </div>
    <div class="col-md-2">
      <h2>Supermarket</h2>
    </div>
    <div class="col-md-2">
      <h2>Price</h2>
    </div>
    <div class="col-md-2">
      <h2>Content</h2>
    </div>
    <div class="col-md-2">
      <h2>Cheapest at</h2>
    </div>
    <div class="col-md-2">
      <h2>Add to shopping list</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md">

        <div *ngIf="products">
          <form [formGroup]="formGroups">
            <div class="row" [formArrayName]="'forms'">
              <div class="col-md">
                  <div class="row productContainer" *ngFor="let product of products; let i = index">
                    <div class="col-md-2 contentText">
                      <p>name: {{product.name}}</p>
                    </div>
                    <div class="col-md-2 contentText">
                      <p>supermarket: {{product.supermarket}}</p>
                    </div>
                    <div class="col-md-2 contentText">
                      <p>price: {{product.price}}</p>
                    </div>
                    <div class="col-md-2 contentText">
                      <p>{{product.content}} l</p>
                    </div>
                    <div class="col-md-2 contentText">
                      <p>supermarket: {{product.supermarket}}</p>
                    </div>
                    <div class="col-md-2 contentForm">
                      <div class="d-block">
                        <div [formGroupName]="i">
                          <div class="d-inline-block col-md-6 contentFields">
                            <label class="d-inline contentLabel">Qnt</label>
                            <input
                              type="hidden"
                              formControlName="productId"
                              id="{{product.id}}"
                              value="{{product.id}}">
                            <input
                              class="d-inline contentInput"
                              type="number"
                              id="0"
                              formControlName="quantity"
                              value="0">
                          </div>
                          <div class="d-inline-block col-md-6 contentButtons">
                            <button class="btn btn-success contentButtons d-block" (click)="addToShoppingList(product.id)">Add</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </form>
        </div>

    </div>
  </div>
</div>

